<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input type="file" value="Click" (change)="onFileSelected($event)" />
  <p *ngIf="!checkFile">Carica il file</p>
  <br />
  <ion-button type="submit" (click)="onUpload()">submit</ion-button>
  <ion-button type="submit" (click)="signal()">signal</ion-button>
  <br />
  <div *ngIf="checkFile">
    <ion-item>
      <ion-label>Seleziona Canale</ion-label>
      <ion-select [(ngModel)]="selectChannel">
        <ion-select-option
          *ngFor="let channel of Channels"
          value="{{ channel }}"
          >{{ channel }}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input
        type="number"
        [(ngModel)]="selectStart"
        placeholder="Start Number"
        max="921599"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        type="number"
        [(ngModel)]="selectNumberSignal"
        placeholder="Number of Signal"
        max="921599"
      ></ion-input>
    </ion-item>
    <ion-button
      *ngIf="selectChannel && selectStart < 921599 && selectNumberSignal < 1001"
      type="submit"
      (click)="draw()"
      >Draw</ion-button
    >
    <p
      *ngIf="selectStart > 921599 || selectNumberSignal > 1000"
      style="color:crimson"
    >
      Parametri non corretti
    </p>
    <div
      *ngIf="checkButton && selectStart < 921599 && selectNumberSignal < 1001"
    >
      <ion-card padding>
        <!-- <app-chart></app-chart> -->
        <div>
          <div style="display: block">
            <canvas
              height="100"
              width="100"
              baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
            ></canvas>
          </div>
        </div>
      </ion-card>
      <ion-card padding>
        <h5>Statistics</h5>
        <p>Minimun Value:</p>
        <p>Maximum Value:</p>
        <p>Average:</p>
        <p>var:</p>
        <p>stdev:</p>
      </ion-card>
      <ion-card padding>
        <h5>BARCHART</h5>
        <div style="display: block">
          <canvas
            height="400"
            width="400"
            baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChart"
          ></canvas>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
