<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input type="file" value="Click" (change)="onFileSelected($event)" />
  <br />
  <ion-button type="submit" (click)="onUpload()">submit</ion-button>
  <br />
  <ion-content ng-if="file">
    <ion-label>Seleziona Canale</ion-label>

    <!-- <ion-select *ngFor="let hero of heroes" [(ngModel)]="gender">
      <ion-option value="f">Female</ion-option>
    </ion-select> -->
  </ion-content>
</ion-content>
