<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input type="file" value="Click" (change)="onFileSelected($event)" />
  <br />
  <ion-button type="submit" (click)="onUpload()">submit</ion-button>
  <br />
  <ion-input type="number" placeholder="Window size"></ion-input>
  <ion-item>
    <ion-label>select info prediction</ion-label>
    <ion-select [(ngModel)]="selectChannel">
      <ion-select-option
        >Prediction with Cross Validation file</ion-select-option
      >
      <ion-select-option
        >Prediction with Cross Validation window</ion-select-option
      >
    </ion-select>
  </ion-item>
  <br />
  <input type="file" value="Click" (change)="onFileSelected($event)" />
  <br />

  <ion-button type="submit">Prediction</ion-button>
</ion-content>
