<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Prediction
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input type="file" value="Click" (change)="onFileSelected($event)" />
  <p *ngIf="!checkFile">Carica il file</p>
  <br />
  <ion-button type="submit" (click)="onUpload()">submit</ion-button>
  <ion-button type="submit" (click)="getPrediction()">Predict</ion-button>
  <!-- ion card predizione con grafico -->
  <ion-card>
    <ion-toolbar> Predizione</ion-toolbar>
    <ion-card-title style="background-color:blanchedalmond"
      >Predictions</ion-card-title
    >
    <div id="container"></div>
    <!-- parametri della predizione -->
    <ion-card>
      <ion-header>Parametri Predizione</ion-header>
    </ion-card>
  </ion-card>
  <ion-card *ngIf="clicked">
    <ion-title>DEVE APPARIRE IL GRAFICO</ion-title>
    <!-- <app-chart
      *ngIf="allSignalsChannels"
      [allSignalsChannels]="allSignalsChannels"
    ></app-chart> -->
  </ion-card>
</ion-content>
