<div>
  <nav class="navbar navbar-default navbar-fixed-top top-nav-collapse">
    <div class="container">
      <div class="col-md-12">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"
            ><img
              src="./assets/img/logo.png"
              class="img-responsive"
              style="width: 140px; margin-top: -16px;"
          /></a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="home">Home</a>
            </li>
            <li class="active">
              <a href="page1">EEG analysis</a>
            </li>
            <li class="active">
              <a href="list">Predict</a>
            </li>
            <li class="active">
              <a href="train">Train</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
<!--  -->
<ion-content>
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="section-title">
            <h2 class="head-title lg-line">EEG Analysis</h2>
            <hr class="botm-line" />
            <p>Upload your edf file</p>
            <input
              type="file"
              value="Click"
              (change)="onFileSelected($event)"
            />
            <p *ngIf="checkFile">Upload your file</p>
            <br />

            <ion-button color="secondary" type="submit" (click)="onUpload()"
              >Upload</ion-button
            >

            <div *ngIf="checkFile">
              <br />
              <p>Select the desired channel or all channels</p>

              <ion-item>
                <ion-label>Select channel</ion-label>
                <ion-select [(ngModel)]="selectChannel">
                  <ion-select-option
                    *ngFor="let channel of Channels"
                    value="{{ channel }}"
                    >{{ channel }}</ion-select-option
                  >
                  <ion-select-option>
                    all
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <br />
              <p>
                Insert the start second of the slice you want to visualize
              </p>

              <ion-item>
                <ion-input
                  type="number"
                  [(ngModel)]="selectStart"
                  placeholder="Start Time"
                ></ion-input>
              </ion-item>
              <br />
              <p>
                Insert the length (in seconds) of the slice you want to
                visualize
              </p>

              <ion-item>
                <ion-input
                  type="number"
                  [(ngModel)]="selectNumberSignal"
                  placeholder="Window Dimensions"
                ></ion-input>
              </ion-item>
              <ion-button
                *ngIf="
                  selectChannel != undefined &&
                  selectStart < 3600 &&
                  selectStart != undefined &&
                  selectNumberSignal != undefined
                "
                type="submit"
                (click)="draw()"
                color="secondary"
                >Draw</ion-button
              >
              <p
                *ngIf="selectStart > 921599 || selectNumberSignal > 7680"
                style="color:crimson"
              >
                Wrong Parameters
              </p>
              <!-- 
                    <div
                      *ngIf="checkButton && selectStart < 921599 && selectNumberSignal <= 7680"
                    > -->
            </div>
          </div>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div
            style="visibility: visible; width: 110%"
            class="col-sm-9 more-features-box"
          >
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </div>
              <!-- chart -->
              <div class="more-features-box-text-description">
                <h3>EEG visualization with insert parameters</h3>
                <p>
                  Visualize your edf file, you can choose single channel or
                  entire EEG trace. The chart shows the selected slice of the
                  trace accordin to start and length parameters.
                </p>
                <div *ngIf="checkFile">
                  <ion-card padding *ngIf="signals">
                    <!-- *ngIf="signals" -->
                    <app-chart
                      style="height:1000px"
                      [signals]="signals"
                    ></app-chart>
                  </ion-card>
                  <ion-card padding *ngIf="allSignalsChannels">
                    <!-- *ngIf="signals" -->
                    <app-chart
                      style="height:1000px"
                      [allSignalsChannels]="allSignalsChannels"
                    ></app-chart>
                  </ion-card>
                </div>
              </div>
            </div>
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </div>
              <div class="more-features-box-text-description">
                <h3>EEG Statistics</h3>
                <p>
                  Visualize the statistics of uploaded file. Statistics are
                  calculated on the whole file.
                </p>
                <ion-card padding *ngIf="Statistics">
                  <h5>Statistics</h5>
                  <p><b>Value:</b> {{ Statistics.min }}</p>
                  <p><b>Maximum Value:</b> {{ Statistics.max }}</p>
                  <p><b>Average:</b> {{ Statistics.average }}</p>
                  <p><b>Variance:</b> {{ Statistics.var }}</p>
                  <p><b>Standard Deviation: </b> {{ Statistics.stdev }}</p>
                </ion-card>
              </div>
            </div>

            <div class="more-features-box-text">
              <div class="more-features-box-text-icon">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </div>
              <div class="more-features-box-text-description">
                <h3>EEG signals distribution</h3>
                <p>
                  Given equidistant intervarls, visualize the number of signals
                  for each interval.
                </p>
                <!-- <div *ngIf="checkoccurency">
                  <div id="columnChart" style=" width: 110%"></div>
                </div> -->
                <!-- <ion-card padding *ngIf="distribution && signals"> -->
                <ion-card *ngIf="checkoccurency">
                  <div id="columnChart"></div>
                </ion-card>
                <!-- <div id="columnChart" style=" width: 110%"></div> -->
                <!-- <app-chart [distribution]="distribution"></app-chart> -->
                <!-- </div> -->
                <!-- </ion-card> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ion card -->

  <!-- </div> -->
  <br />
  <br />
  <br />
  <app-footer style="margin-top: 100px"></app-footer>
</ion-content>
